<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= title %></h3>
  </div>
  <div class="panel-body">
    <% if(!image.blank?) %>
    <a href="#" class="thumbnail">
      <img src="<%= image.url(:medium) %>" alt="">
    </a>
    <% end %>
  </div>
</div>
