<h4 class="field-title"><%= title %></h4>
<% if(!file.blank?) %>
  <div class="input-group">
    <label class="input-group-addon"><span class="glyphicon glyphicon-link" aria-hidden="true"></label>
    <input class="form-control" type="text" name="" value="<%= asset_url(file.url) %>">
  </div>
  <br>
<% end %>
<% if(file.blank?) %>
<div class="input-group">
  <label class="input-group-addon"><span class="glyphicon glyphicon-file" aria-hidden="true"></label>
  <input class="form-control" type="file" name="<%= name %>" value="">
</div>
<% end %>
<% if(!file.blank?) # remove file from the fields table %>
  <div class="text-right">
    <%= link_to "Remove", delete_url, :method => :delete, data: {confirm: "Do you really want to remove the image?"}, style: "color: red" %>
  </div>
<% end %>
<br>
