<h4 class="field-title"><%= title %></h4>
<div class="input-group">
  <label class="input-group-addon"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></label>
  <input class="form-control" type="number"  name="<%= name %>" value="<%= value %>">
</div>
<br>
