/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require selectize
 *= require selectize.bootstrap3
 //= require bootstrap-select
 *= require dropzone/dropzone
 *= require_self
 */

/* BOOTSTRAP CHANGES */

// Default colors
$body-bg: #F0F0EF;
$brand-primary: #1F4E5F;

$brand-success: #64A97B;
$brand-info: #266D98;
$brand-warning: #EFAC2A;
$brand-danger: #EA5455;

// Default border-radius
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

// Navbar style
$navbar-default-color: #555555;
$navbar-default-bg: #F4F7F7;

$navbar-default-link-color: #555555;
$navbar-default-link-hover-color: #555555;
$navbar-default-link-active-color: #555555;
$navbar-default-link-disabled-color: #555555;

// Alerts
$state-success-text: #ffffff;
$state-success-bg: $brand-success;

$state-info-text: #ffffff;
$state-info-bg: $brand-info;

$state-warning-text: #ffffff;
$state-warning-bg: $brand-warning;

$state-danger-text: #ffffff;
$state-danger-bg: $brand-danger;

// Panels
$panel-inner-border: #ddd;
$panel-footer-bg: #f5f5f5;

$panel-default-text: #555;
$panel-default-border: #ddd;
$panel-default-heading-bg: #F4F7F7;

// Badge
$badge-bg: #F0F0EF;
$badge-color: #555555;
$badge-link-hover-color: #555555;


@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";
@import 'bootstrap-sprockets';
@import 'bootstrap';

img {
  max-width: 100%;
}

// Page panel title
.panel-title {
  text-transform: uppercase;
  font-weight: bold;
}

// General field title
.field-title {
  border-bottom: solid 1px $brand-primary;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

// General image grid content
.media-content {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;

  &.selected {
    border: solid 10px $brand-primary;
  }
}

// Navigation menu
#partial-menu {
  .panel-heading {
    cursor: pointer;
  }
  .list-group-item {
    font-weight: bold;
  }
}

// Hide console in congiguration
#console {
  display: none;
}
